* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 20px;
}

input {
  color: gray;
  width: 100%;
  font-size: 1.2rem;
  border: .9px solid rgb(17, 17, 17);
  border-radius: 5px;
}

input:focus {
  border: 2px solid rgb(0, 162, 255);
  outline: 0 none;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 170px;
}
